{% extends 'FinancialAssistant/base.html' %}
{# Load the tag library #}
{% load bootstrap4 %}

{% block title %}
    {{ user.username }} settings
{% endblock %}

{% block content %}

    <div class="container p-3 my-3 border">
        <h1>User info</h1>

        <form role="form" method="get">
            {% csrf_token %}
            {% bootstrap_form form_user_settings %}
        </form>
        <br>
        <p><a href="{% url 'FinancialAssistant:edit_user' user.id %}" class="btn btn-primary link">edit user info</a>
        </p>
        <p><a href="{% url 'FinancialAssistant:app_user' app_user.id %}">additional user setting</a></p>
    </div>

    <div class="container p-3 my-3 border">
        <h1>Family budget info</h1>

        {% if not family_data %}
            <p> No family budget created yet, you can <a href="{% url 'FinancialAssistant:new_family_budget' %}"> create
                one</a>.</p>
        {% endif %}
        <ul class="list-group list-group-flush">
            {% if family_data %}
                <p> You are sharing family budget with </p>
                {% if  family_data.family_members_names %}
                    {% for member_name in family_data.family_members_names %}
                        <li class="list-group-item"> {{ member_name }} </li>
                    {% endfor %}
                {% else %}
                    <li class="list-group-item"> ...yourself!</li>
                {% endif %}
                <br>
                <p><a href="{% url 'FinancialAssistant:edit_family_budget' app_user.family.id %}" class="btn btn-primary link">edit
                    family budget info</a></p>
            {% endif %}
        </ul>
    </div>

    <div class="container p-3 my-3 border">
        <h1>Categories</h1>

        <ul class="list-group list-group-flush">
            {% for category in category_data %}
                <li class="list-group-item">
                    <a href="{% url 'FinancialAssistant:category_detail' category.id %}">{{ category }}</a>
                </li>
            {% empty %}
                <p>No categories have been added yet.</p>
            {% endfor %}
            <br>
            <p>
                <a href="{% url 'FinancialAssistant:category_form' %}" class="btn btn-primary link">add new category</a>
            </p>
        </ul>
    </div>

    <div class="container p-3 my-3 border">
        <h1>Currencies</h1>

        <ul class="list-group list-group-flush">
            {% for currency in currency_data %}
                <li class="list-group-item">
                    <a href="{% url 'FinancialAssistant:currency_detail' currency.id %}">{{ currency }}</a>
                </li>
            {% empty %}
                <p>No currencies have been added yet.</p>
            {% endfor %}
            <br>
            <p><a href="{% url 'FinancialAssistant:currency_form' %}" class="btn btn-primary link">add new currency</a>
            </p>
        </ul>
    </div>

{% endblock %}
