{% extends 'FinancialAssistant/base.html' %}
{# Load the tag library #}
{% load bootstrap4 %}

{% block title %}
    User edit
{% endblock %}

{% block content %}
    {# Display a form #}
    <div class="container p-3 my-3 border">
        <form role="form" method="post">
            <h1> {{ user }}</h1>
            {% csrf_token %}
            {% bootstrap_form form %}
            <br>
            {% buttons %}
                <input type="submit" class="btn btn-outline-primary" value="Update">
            {% endbuttons %}
        </form>
    </div>
{% endblock %}
