{% extends 'FinancialAssistant/base.html' %}
{# Load the tag library #}
{% load bootstrap4 %}

{% block title %}
    {{ user.username }} settings
{% endblock %}

{% block content %}

    <div class="container p-3 my-3 border">
        <h1>User info</h1>
        {# Display a form_user_settings #}
        <form role="form" method="get">
            {% csrf_token %}
            {% bootstrap_form form_user_settings %}
        </form>
        <br>
        <p><a href="#" class="btn btn-primary link">edit user info</a></p>
    </div>

    <div class="container p-3 my-3 border">
        <h1>Family budget info</h1>
        {# Display a form_overall_budget_settings #}
        <form role="form" method="get">
            {% csrf_token %}
            {% bootstrap_form form_overall_budget_settings %}
            <br>
            <p><a href="#" class="btn btn-primary link">edit family budget info</a></p>
        </form>
    </div>

    <div class="container p-3 my-3 border">
        <h1>Categories</h1>

        <ul class="list-group list-group-flush">
            {% for category in category_data %}
                <li class="list-group-item">
                    <a href="{% url 'FinancialAssistant:category_detail' category.id %}">{{ category }}</a>
                </li>
            {% empty %}
                <li><p>No categories have been added yet.</p></li>
            {% endfor %}
            <br>
            <p><a href="{% url 'FinancialAssistant:category_form' %}" class="btn btn-primary link">add new category</a></p>
        </ul>
    </div>

    <div class="container p-3 my-3 border">
        <h1>Currencies</h1>

        <ul class="list-group list-group-flush">
            {% for currency in currency_data %}
                <li class="list-group-item">
                    <a href="{ # }">{{ currency }}</a>
                </li>
            {% empty %}
                <li><p>No currencies have been added yet.</p></li>
            {% endfor %}
            <br>
            <p><a href="#" class="btn btn-primary link">add new currency</a></p>
        </ul>
    </div>

{% endblock %}
