{% extends 'FinancialAssistant/base.html' %}
{# Load the tag library #}
{% load bootstrap4 %}

{% block title %}
    Registration
{% endblock %}

{% block content %}
    {# Display a form #}
    <div class="container">
        <form role="form" method="post" action="{% url 'users:register' %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-outline-primary">
                    Register
                </button>
            {% endbuttons %}
            <input type="hidden" name="next" value="{% url 'FinancialAssistant:index' %}"/>
            {% if not user.is_authenticated %}
                <p class="text-center">If you already have an account, <a href="{% url 'users:login' %}">login</a>
                    instead.
                </p>
            {% endif %}
        </form>
    </div>
{% endblock %}
